/* universal */

.unStyledLink {
    text-decoration: none;
    /* color: ; */
}

/* header */

.mainNavigation .nav-item {
    margin-left: 2rem;
}

/* main */

.pageHeading {
    font-size: 1.4rem;
    font-weight: 700;
}

.flatCard {
    border-radius: 0;
}

.boldCardHeader {
    font-weight: 700;
}

/* footer */

footer {
    position: fixed;
    bottom: 0;
    left: 0;right: 0;
}

.heartIcon {
    color: #ff0000;
}

footer .unStyledLink {
    color: #ffffff;
}