{% extends 'base.html' %}
{% load static %}

{% block title %}Meetings{% endblock %}

{% block main %}
    <div class="container my-4">
        <div class="pageHeading">Meetings</div>
        <div class="col-sm-12 col-md-6 col-lg-4 my-3">
            <div class="card shadow-sm flatCard">
                <div class="card-header boldCardHeader">
                    List of Meetings:
                </div>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        {% for meeting in meetings %}
                        <li class="list-group-item">
                            <a class="unStyledLink" href="{% url 'meetingDetails' meeting.id %}">{{ meeting }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}