{% extends 'base.html' %}
{% load static %}

{% block title %}Rooms{% endblock %}

{% block main %}
    <div class="container my-4">
        <div class="pageHeading">Rooms</div>
        <div class="col-sm-12 col-md-6 col-lg-4 my-3">
            <div class="card shadow-sm flatCard">
                <div class="card-header boldCardHeader">
                    {{ room.roomName }}
                </div>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Room No : {{ room.roomNo }}</li>
                        <li class="list-group-item">Floor No : {{ room.floorNumber }}</li>
                        <li class="list-group-item">Building Name : {{ room.buildingName }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}